.App {
  text-align: center;
}

.App-face {
  height: 40vmin;
  pointer-events: none;
}

.face404 {
  height: 40vmin;
  pointer-events: none;
}

/* Pallete:
  Main: #3D8D7A
  Antimain: #FBFFE4
  Accent: #FBFFE4
  Special: #A3D1C6
*/

.App-header, .App-footer {
  background-color: #FBFFE4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3D8D7A;
}

.App-main {
  background-color: #FBFFE4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3D8D7A;
}

.App-link {
  color: #B3D8A8;
}
